* {
    border: 0px;
    font-family: 'Agency FB';
    box-sizing: border-box;
}

@media (min-width: 0px) {
    .col_1 {
        width: 8.33%;
        height: 40px;
    }
    .col_1p5{width: 12.5%;}
    .col_2{width: 16.66%;}
    .col_2p5{width: 20%;}
    .col_3{width: 25%;}
    .col_4{width: 33.33%;}
    .col_5{width: 41.66%;}
    .col_5p5{width: 49%;}
    .col_6{width: 50%;}
    .col_7{width: 58.33%;}
    .col_8{width: 66.66%;}
    .col_9{width: 75%;}
    .col_10{width: 83.33%;}
    .col_11 {
        width: 91.66%;
        height: 230px;
    }
    .col_12{
        width: 100%;
        height: 230px;
    }

    .textS1-b{font-size: 55px;}
    .textS2-b{font-size: 30px;}
}

@media (min-width: 768px) {
    .col-m_1{width: 8.33%;}
    .col-m_1p5{width: 12.5%;}
    .col-m_2{width: 16.66%;}
    .col-m_2p5{width: 20%;}
    .col-m_2p75{width: 20.83%;}
    .col-m_3{width: 25%;}
    .col-m_4{width: 33.33%;}
    .col-m_5{width: 41.66%;}
    .col-m_6{width: 50%;}
    .col-m_7{width: 58.33%;}
    .col-m_8{width: 66.66%;}
    .col-m_9{width: 75%;}
    .col-m_9p5{width: 80%;}
    .col-m_10{width: 83.33%;}
    .col-m_11{width: 91.66%;}
    .col-m_12{width: 100%;}

    .alt1{height: 410px;}
    .alt2{height: 205px;}

    .textS1-a{font-size: 90px;}
    .textS2-a{font-size: 60px;}
    .textS3-a{font-size: 40px;}
    .textS4-a{font-size: 30px;}
}

[class*="col_"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.textC1{color: rgba(0, 0, 0, 0.55);}
.textC2{color: rgba(255, 255, 255, 0.75);}

.text2_b {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.418);
}

[class*="top"] {
    border: solid white;
}

.top2_4 {
    background-position: center;
    background-size: 150%;
    text-align: left;
    transition: background-size 1s;
}

.top2_4:hover {
    background-size: 220%;
}

.text3_b {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.55);
}

.text3_w {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
}

.top5_10 {
    background-position: center;
    background-size: 120%;
    text-align: right;
    transition: background-size 1s;
}

.top5_10:hover {
    background-size: 150%;
}

#top1 {
    background-image: url("01 dog - playback & quick EQ.jpg");
    background-size: 120%;
    /*contain*/
    text-align: left;
    transition: background-size 1s;
    border: solid white;
}

#top1:hover {
    background-size: 150%;
}

#top2 {
    background-image: url("1-photoshop-art-illustration-by-rikoostenbroek.jpg");
    color: white;
}

#top3 {
    background-image: url("3d-abstract-digital-art-photo-manipulation-photoshop-wallpaper-preview.jpg");
    color: white;
}

#top4 {
    background-image: url("04.jpg");
    color: black;
}

#top5 {
    background-image: url("7-paisajes-tan-hermosos-que-no-parecen-de-este-mundo-964x640.jpg");
    color: white;
}

#top6 {
    background-image: url("18-graphic-art-photoshop.jpg");
    color: white;
}

#top7 {
    background-image: url("3948ffa0c660a572d48e125d37065cb9cf2fdae9.jpeg");
}

#top8 {
    background-image: url("86167014daefbe82bd3a5f1469503cd274f151dbr1-310-310v2_uhq.jpg");
}

#top9 {
    background-image: url("b2c1e8a6adec67f4fb13ccb7da9e7ecd.jpg");
    color: white;
}

#top10 {
    background-image: url("Captura.png");
    color: white;
}