* {
    box-sizing: border-box;
}

@media (min-width: 0px) {
    .col_p5{width: 4%;}
    .col_1{width: 8.33%;}
    .col_1p5{width: 12.5%;}
    .col_2{width: 16.66%;}
    .col_2p5{width: 20%;}
    .col_3{width: 25%;}
    .col_4{width: 33.33%;}
    .col_5{width: 41.66%;}
    .col_6{width: 50%;}
    .col_7{width: 58.33%;}
    .col_8{width: 66.66%;}
    .col_9{width: 75%;}
    .col_10{width: 83.33%;}
    .col_11{width: 91.66%;}
    .col_11p5{width: 92%;}
    .col_12{width: 100%}

    .t5 {
        height: 475px;
    }

    .bf3 {
        border: solid grey 3px;
        background-color: grey;
    }

    .pad6 {
        padding-top: 20px;
    }

    .pad8 {
        padding-top: 60px;
        padding-bottom: 150px;
    }

    .pad14 {
        padding-top: 40px;
    }

    .pad16 {
        padding-top: 120px;
        padding-bottom: 150px;
    }

    .pad18 {
        padding-left: 20px;
        padding-bottom: 7px;
    }

    .cent2 {
        padding-left: 0.5em;
        padding-right: 0.8em;
    }

    .com {
        border-top: 10px solid #999999;
        border-bottom: 25px solid #999999;
    }

    .imgSize {
        width: 120px;
    }

    .adjGraf2 {
        width: 315px;
        height: 170px;
    }

    .men2 {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .col-m_1{width: 8.33%;}
    .col-m_1p5{width: 12.5%;}
    .col-m_1p62{width: 15%;}
    .col-m_1p75{width: 15.5%;}
    .col-m_2{width: 16.66%;}
    .col-m_2p5{width: 20%;}
    .col-m_3{width: 25%;}
    .col-m_4{width: 33.33%;}
    .col-m_5{width: 41.66%;}
    .col-m_6{width: 50%;}
    .col-m_7{width: 58.33%;}
    .col-m_8{width: 66.66%;}
    .col-m_9{width: 75%;}
    .col-m_9p5{width: 80%;}
    .col-m_10{width: 83.33%;}
    .col-m_11{width: 91.66%;}
    .col-m_12{width: 100%;}

    .t4 {
        height: 675px;
    }

    .t6 {
        height: 175px;
    }

    .bf2 {
        border: solid grey 70px;
        background-color: grey;
    }

    .bf4 {
        border: solid grey 100x;
        background-color: grey;
    }

    .pad5 {
        padding-top: 80px;
    }

    .pad7 {
        padding-top: 225px;
    }

    .pad13 {
        padding-left: 25px;
    }

    .pad15 {
        padding-top: 130px;
    }

    .pad17 {
        padding-left: 10%;
    }

    .cent1 {
        padding-left: 0.65em;
        padding-right: 1.5em;
    }

    .lat_menu {
        position: fixed;
        right: 0px;
        height: 93%;
        bottom: 0%;
    }

    .adapt {
        padding-left: 15px;
    }

    .adjGraf1 {
        width: 600px;
        height: 278px;
    }

    .adjGraf3 {
        width: 530px;
        height: 280px;
    }

    .men1 {
        flex-direction: column;
    }
}

[class*="col_"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 184, 184);
}

.title2 {
    padding-left: 10%;
    padding-top: 10%;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.filter {
    padding-left: 0.5em;
}

[class*="l-"] {
    font-family: Arial, Helvetica, sans-serif;
}

.l-1 {}

.l-name {
    font-size: x-large;
}

.l-name2 {
    font-size: 40px;
}

.l-price {
    color: #67971A;
    font-size: larger;
}

.l-price2 {
    color: #67971A;
    font-size: xx-large;
}

.l-vs {
    color: #999999;
}

.l-date {
    color: #999999;
    font-size: small;
}

.l-date2 {
    color: white;
}

.pad1 {
    padding-top: 0.5em;
    width: max-content;
}

.pad2 {
    padding-left: 0.3em;
}

.pad3 {
    padding-left: 1.2em;
}

.pad4 {
    padding-right: 0.5em;
}

.pad9 {
    padding-left: 20%;
}

.pad10 {
    padding-top: 50px;
}

.pad11 {
    padding-top: 100px;
}

.pad12 {
    padding-left: 25px;
}

.pad19 {
    padding-bottom: 3px;
}

.t1 {
    height: 300px;
}

.t2 {
    height: 35px;
    padding-left: 1em;
}

.t3 {
    height: 25px;
}

.bf1 {
    border: solid white 20px;
}

.vis {
    background-color: grey;
    border: solid grey;
}

.fondo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#i1 {
    background-image: url("01 dog - playback & quick EQ.jpg");
}

#i2 {
    background-image: url("1-photoshop-art-illustration-by-rikoostenbroek.jpg");
}

#i3 {
    background-image: url("3d-abstract-digital-art-photo-manipulation-photoshop-wallpaper-preview.jpg");
}

#i4 {
    background-image: url("04.jpg");
}

#i5 {
    background-image: url("18-graphic-art-photoshop.jpg");
}

#i6 {
    background-image: url("86167014daefbe82bd3a5f1469503cd274f151dbr1-310-310v2_uhq.jpg");
}

#i7 {
    background-image: url("7-paisajes-tan-hermosos-que-no-parecen-de-este-mundo-964x640.jpg");
}

#i8 {
    background-image: url("87556462-pintura-al-óleo-colorida-abstracta-en-lona-imagen-semi-abstracta-de-flores-en-amarillo-y-rojo-con-color.jpg");
}

#i9 {
    background-image: url("Captura.png");
}

#i10 {
    background-image: url("b2c1e8a6adec67f4fb13ccb7da9e7ecd.jpg");
}

#i11 {
    background-image: url("3948ffa0c660a572d48e125d37065cb9cf2fdae9.jpeg");
}

.bC {
    color: rgb(184, 184, 184);
}

.dC {
    color: black;
}

.textC {
    text-align: center;
}

.comprar {
    color: #67971A;
    font-family: 'Blinker';
    font-size: medium;
    background-color: #404040;
    border-right: solid #404040 25px;
    border-left: solid #404040 25px;
    border-bottom: solid #404040 10px;
    border-top: solid #404040 10px;
    border-radius: 0.4em;
    text-align: center;
}

.boton {
    background-color: rgb(211, 211, 211);
    color: black;
    border-radius: 1em;
    border: solid black 1px;
}

.graphMenu {
    display: flex; 
    flex-direction: row;
}

.fb {
    color: black;
    padding-top: 15px;
    padding-right: 10px;
}
