/*
    Pagina destinada a poner los estilos generales que todas las paginas de html del sistema tendran
*/

/*Menu horizontal superior*/

.top-menu {
    display: block;
    background-color: black;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0px;
    left: 0px;
    right: auto;
}

.left-menu {
    display: block;
    background-color: black;
    height: 100%;
    width: 70px;
    position: fixed;
    top: 60px;
    left: 0;
    transition: width 0.2s;
}

.fa {
    color: white;
    padding-right: 15px;
}

.left-menu:hover{
    display: block;
    background-color: black;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
}

ul#menu-item {
    display: none;
    list-style-type: none; 
    padding: 5%; 
    color: white;
}

.left-menu:hover > #menu-item {
    display: block;
    list-style-type: none; 
    color: white;
    padding: 5%; 
}

.item {
    padding: 10px;
}

.left-menu:hover > #menu-item-icon {
    display: none;
    list-style-type: none; 
    color: white;
    padding: 10px;
}

#menu-item-icon {
    list-style-type: none;
    padding: 15px;
}

#items{
    padding-left: 25px;
}

.img-logo {
    position: fixed;
    top: 5px;
    left: 10px;
}

.search-user {
    position: fixed;
    left: 50%;
    width: 100%;
    height: 60px;
}

.fa-user {
    position: fixed;
    left: 95%;
    padding: 20px;
}

.fa-cart-plus {
    position: fixed;
    left: 90%;
    padding: 20px;
}

.title-page{
    font-family: 'Caveat';
    font-size: 35px;
    color: white;
    font-weight: bold;
}

/*---------------------------------------------Contenido de la pagina*/

.content-page {
    display: block;
    position: absolute;
    width: 95%;
    top: 8%;
}

.content-form .form{
    display: block;
}

.form{
    display: block;
    width: 95%;
}

.search-user input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form input,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content-page .title-reg {
    text-align: center;
}

.label-gray {
    color: lightslategray;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(218, 234, 240);
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: rgb(29, 98, 155);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .margin-div {
      padding: 5%;
  }
/*---------------------------------------------Botones------------------------------*/

.btn-submit {
    background-color: #3376AE;
    color: white;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.8em;
}

.btn-submit:hover {
    background-color: rgb(64, 125, 175);
    color: white;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.8em;
}

/*---------------------------------------------Contenido de la pagina Responsive*/

@media (min-width: 0px) {
    .col_1{width: 8.33%;}
    .col_1p5{width: 12.5%;}
    .col_2{width: 16.66%;}
    .col_2p5{width: 20%;}
    .col_3{width: 25%;}
    .col_4{width: 33.33%;}
    .col_5{width: 41.66%;}
    .col_6{width: 50%;}
    .col_7{width: 58.33%;}
    .col_8{width: 66.66%;}
    .col_9{width: 75%;}
    .col_10{width: 83.33%;}
    .col_11{width: 91.66%;}
    .col_12{width: 100%}

    #search-in {
        display: hide;
    }

    .form .btn-submit {
        text-align: center;
        align-content: center;
        position: absolute;
        top: 110%;
        left: 5%;
        width: 85%;
    }

    .content-form {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 95%;
    }

    .content-user-form {
        position: absolute;
        top: 100%;
        width: 80%;
        left: 10%;
    }
}

@media (min-width: 768px) {
    .col-m_1{width: 8.33%;}
    .col-m_1p5{width: 12.5%;}
    .col-m_1p75{width: 15.5%;}
    .col-m_2{width: 16.66%;}
    .col-m_2p5{width: 20%;}
    .col-m_3{width: 25%;}
    .col-m_4{width: 33.33%;}
    .col-m_5{width: 41.66%;}
    .col-m_6{width: 50%;}
    .col-m_7{width: 58.33%;}
    .col-m_8{width: 66.66%;}
    .col-m_9{width: 75%;}
    .col-m_9p5{width: 80%;}
    .col-m_10{width: 83.33%;}
    .col-m_11{width: 91.66%;}
    .col-m_12{width: 100%;}

    #search-in {
        position: fixed;
        top: 10px;
        left: 50%;
        height: 25px;
        width: 30%;
        border-radius: 5px;
    }
    
    .content-form {
        padding: 10px;
        position: absolute;
        top: 40%;
        left: 30%;
    }

    .form .btn-submit {
        text-align: center;
        align-content: center;
        position: absolute;
        left: 30%;
        top: 100%;
        width: 30%;
    }

    .col-m_12 .form .btn-submit {
        text-align: center;
        align-content: center;
        position: absolute;
        left: 40%;
        top: 100%;
        width: 15%;
    }

    .content-user-form {
        position: absolute;
        top: 100%;
        width: 85%;
        left: 10%;
    }
}


[class*="col_"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 

